html, body {
  margin: 0;
  padding: 0;

}


* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #000;
  letter-spacing: 1px;
  padding: 5px;
}

.screen {
/* iphone8 height */
  max-width: 1000px;
  height: 667px;
  background-color:#F9EED1;
  margin: auto;
}

/* ++ home screen ++ */

.header {
  height: 90px;
  background-color: red;
  padding: .4em;
}

.strip-nav {
  height: 80px;
  background-color: red;
}

.previous {
  margin-right:2px;
  float: left;
}

.next {
  margin-left: 2px;
  float: right;
}

.menu {
  height: 80px;
  background-color: red;
}

/* ++ END home screen ++ */

/* ++ slider ++ */

.slider {
  width: 80%;
  margin: auto;
  padding: 20px 0 0 0;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

/* ++ END slider ++ */
